<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>HOME</title>
</head>
<body>
<h1 class ="mt -20">Welcome to Akirachix Portal</h1>
{% include "base.html" %}


<div class="mt-30">

{% if user.is_authenticated   %}
welcome{{user.username}} you are logged

{% else %}

<!-- welcome guest
please<a href="/accounts/layout/">register</a>
or <a href="/accounts/login/">login</a> -->
{% endif %}


</div>
</body>
</html>